@import "~bootstrap/scss/bootstrap";

.file-translation {
    .ant-card-head-title {
        height: 4em;
        /* font-size: 1.5em; */
    }

    &--content {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ant-col {
        flex: 0 0 50%;
    }

    @media (max-width: 800px) {
        .ant-col {
          flex: 100%;
        }
    }
}