.file-translation {
    background-color: white;
    min-height: 314px;
    .steps-content {
        min-height: 150px;
        margin-top: 16px;
        padding-top: 80px;
        text-align: center;
        background-color: #fafafa;
        border: 1px dashed #e9e9e9;
        border-radius: 2px;
      }
      
    .steps-action {
        margin-top: 24px;
    }
}