.about-tab {
    background-color: white;
    min-height: 314px;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &--section {
        margin: 2em 2em 2em 2em;

        &--header {
            font-weight: 500;
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        &--body {
            &--paragraph {
                text-align: justify;
                margin-bottom: 1em;
            }

            &--image-block-single {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5em;
            }
        
        }
    }
}